* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #0b0b0b;
}

header {
    background: #000;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#margenL {
    margin-left: 70px;
}

#margenR {
    margin-right: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
}

.hero {
    background: linear-gradient(to right, #000000, #F8DB58);
    text-align: center;
}

#letras {
    color: white;
}

.hero button {
    background: #c49807;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding: 0 150px;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

#margen3{
    border-radius: 40px;
}

form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

label {
    font-weight: bold;
}

input,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #f59031;
    text-decoration: none;
}

@media (max-width: 900px) {
    .project-grid {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}
