* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2.8;
    color: #0b0b0b;
}

header {
    background: hsl(0, 0%, 0%);
    color: white;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#margenL{
    margin-left: 70px;
}

#margenR{
    margin-right: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    min-height: 200px;
}

.hero button {
    background: #f59031;
    color: white;
    text-align: center;
    padding: 0.8rem 1.2rem;
    border-radius: 30px;
}

.hero {
    background: linear-gradient(to right, #000000, #F8DB58);
    text-align: center;
}

#letras{
    color: #ffffff;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding: 0 250px;
    max-height: min-content;
}

.project-grid11{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    padding: 0 250px;
    max-width: 10px;
    max-height: 20px;
}

@media (max-width: 900px) {
    .project-grid {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 0.7rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.project-image {
    height: 100px;
    border-radius: 12px;
    margin-bottom: 1rem;
    background: linear-gradient(135deg, #f6d365, #fd85c5);
}

.project-image1{
    height: 100px;
    border-radius: 12px;
    margin-bottom: 1rem;
    background: linear-gradient(135deg, #6EE091, #63A6FB);
}

.project-image2{
    height: 100px;
    border-radius: 12px;
    margin-bottom: 1rem;
    background: linear-gradient(135deg, #8B7DF8, #F47B9F);
}


form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
}

input, textarea {
    padding: 0.5rem;
    border: 1px solid #ddd;
}

button {
    padding: 0.5rem;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
